.new-complaint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.question-block {
  width: 50%;
  min-width: 320px;
  margin: auto;
  font-size: 2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 2px black;
  padding: 2rem;
}

.question-block,
.complaint-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-block__headline {
  margin: 1rem 0;
}

.complaint-question {
  margin: 1rem 0;
}

.complaint-question input,
.complaint-question textarea,
.complaint-question select,
.complaint-question option {
  font-size: 2rem;
}
