.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 2px black;
}

.instructions__heading {
  text-align: left;
  width: 100%;
}

.submit-new-complaint-btn {
  font-weight: bold;
  display: block;
  width: fit-content;
  margin: 1em auto;
  padding: .2em;
  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  padding: 1rem;
}

.submit-new-complaint-btn:hover {
  color: white;
  background-color: #467EB4;
}