.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  padding: 2rem;
}

.instructions__heading {
  text-align: left;
  width: 100%;
}

.submit-new-complaint-btn {
  font-weight: bold;
  display: block;
  width: fit-content;
  margin: 1.5rem auto;
  padding: .2rem;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 1rem;
  transition: color 1s ease;
  transition: background-color 1s ease;
}

.submit-new-complaint-btn:hover {
  color: white;
  background-color: #467EB4;
  transition: color 1s ease;
  transition: background-color 1s ease;
}