html {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  font-size: 62.5%;

}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  border: 2rem solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 10%, #347fb9 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 10%, #347fb9 100%);
  border-image: linear-gradient(to bottom, #38aecc 10%, #347fb9 90%);
  border-image-slice: 1;
  box-sizing: border-box;
  line-height: 1;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

iframe {
  border: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
