.parent-acc {
  max-width: 768px;
  margin: auto;
}

.acc-heading {
  padding: .5em 0;
  font-size: 1.5em;
  width: 50%;
  display: flex;

}

.acc-close {
  display: none;
}

.acc-open {
  display: block;
}
